#game-container {
  width: 800px;
  height: 800px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.btn {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

#muda,
#sizers,
#change {
  width: 200px;
  height: 38px;
  margin: 0 auto;
  align-items: center;
}

#texto {
  width: 200px;
  height: 38px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

#informativo {
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: bold;
  display: block;
}

.containerOne {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.alterar {
  width: 88px;
  height: 42px;

  top: 200px;
  position: relative;
  margin: 0 auto;
  text-align: center;

  font-weight: bold;
  display: block;
}

.jockersBtn {
  width: 102px;
  height: 32px;
  font-weight: bold;
}
.jockersBtn:hover {
  width: 102px;
  height: 32px;

  background-color: antiquewhite;
}
