.container {
  background-color: antiquewhite;
  height: 522px;
  display: block;
}
#meuForm {
  display: block;
}

button {
  width: 200px;
  height: 32px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
